
.DS_Store
public/.DS_Store
public/resume/.DS_Store
.DS_Store
node_modules
.next
.next/build-manifest.json
.next/cache/images/dmwgDWsSr0+Y3xAvLdOFOleyrUsUlTklenZM0eJ+VMI=/60.1692654739748.38Gdw8Q-8kEEm81lU95vSKjc7RAoHE5LsZ0HrEsWKcU=.webp
.next/cache/images/eofxzhwVTB9k-crsEDFPl75L513BW+MHeiSF2r8aF8g=/60.1692654754232.uW5N7r9W3xF2QpSuXrErlINJJ6EHIaNJc5N81KaPV10=.webp
.next/cache/images/GYVkLR30EMe4qjqYDFejoxLRCt76d+cZ9PJt0KQ7FOE=/60.1692654740017.aRtobZVZcXGVYbzKaw+1eUEzXBJmyQSunmQFXquFLP0=.webp
.next/cache/images/j9PVM7v6n7FuAAIQfBhUpHqtFeea5TGf01xbPeZDd24=/60.1692654739829.l0qT4iDm+YevFo62H-cRNmzdWuYSoWnaR7q8VjSMObU=.webp
.next/cache/images/Jus39zc5NF3p+6eS6keSw9t0hBtQqgh56DsXgx7GGbs=/60.1692654739901.Ixb25SxJr1LeiZUJLWkjGxaiEsSEQoqu5E0D6ZbRG0Y=.webp
.next/cache/images/PUQki5I7-VQJ-v+JqON6odeeVpBk17GDRwkT5I95gnI=/0.1692654754216.iwjWr8vZmpxXRt8p2mqZhciaxXUXyQ+GfifTJ7+iqbE=.gif
.next/cache/images/TJSfeojkvzx-e99gYzCsvDwXS38txo7OGUl5xX1XnRA=/60.1692654740093.c9upRuT-M4bm5Wwf1uIUxx-OHDv+JhEovWU0AKpZzTU=.webp
.next/cache/images/VPctsuZCuWuTazXMrMJpnsBFXUNTW2ibHhgl6m48jvc=/0.1692654754141.ZWKIEhcAWjyyEcOEYsqGoV9-LzJYvhBK1SfszhNMt6g=.gif
.next/cache/images/zvAj0Wd63J2aMtaNzC93xbVPUQO08nqyTpAoOF0awsA=/0.1692654754317.K0HTVs-idIRqxP3fFcSbVdyAUsbQJDBrgbwNxP2wgGI=.gif
.next/cache/webpack/client-development-fallback/0.pack
.next/cache/webpack/client-development-fallback/index.pack.old
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/4.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/_error.js
.next/server/font-loader-manifest.js
.next/server/font-loader-manifest.json
.next/server/middleware-build-manifest.js
.next/server/middleware-react-loadable-manifest.js
.next/server/pages-manifest.json
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/index.js
.next/server/pages/new.js
.next/static/chunks/_error.js
.next/static/chunks/amp.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/main.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/new.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/development/_buildManifest.js
.next/static/media/0b51567db623ef14.woff2
.next/static/media/2aaf0723e720e8b9.p.woff2
.next/static/media/2fc714e314b0c068.woff2
.next/static/media/5b883641122c40da.p.woff2
.next/static/media/5d0528dd4221d8c0.woff2
.next/static/media/79fcd320ab2304ba.woff2
.next/static/media/9c4f34569c9b36ca.woff2
.next/static/media/ae9ae6716d4f8bf8.woff2
.next/static/media/b1db3e28af9ef94a.woff2
.next/static/media/b967158bc7d7a9fb.woff2
.next/static/media/c0f5ec5bbf5913b7.woff2
.next/static/media/d1d9458b69004127.woff2
.next/static/webpack/1156dc41618ba205.webpack.hot-update.json
.next/static/webpack/1f188e67a1b07dff.webpack.hot-update.json
.next/static/webpack/454853197b7988a4.webpack.hot-update.json
.next/static/webpack/7452bf418ce5c52b.webpack.hot-update.json
.next/static/webpack/9892831a36139225.webpack.hot-update.json
.next/static/webpack/webpack.1156dc41618ba205.hot-update.js
.next/static/webpack/webpack.1f188e67a1b07dff.hot-update.js
.next/static/webpack/webpack.454853197b7988a4.hot-update.js
.next/static/webpack/webpack.7452bf418ce5c52b.hot-update.js
.next/static/webpack/webpack.9892831a36139225.hot-update.js
.next/trace
