.bannerProjectColor {
    background-color: 
    #FFEFDC;
}

.projectColorText {
    color: #215560;
}

.styleGuideImage {
    width: 100%;
    margin: 1rem 0 1rem 0;
    border-radius: 16px;
}

.persona {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem;
    gap: 2rem;
    max-width: 600px;
}

.personaHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    gap: 1.5rem;
}

.personaHeader div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
}

.personaMapPanel {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.storyboard {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: center;
    max-width: 1068px;
    margin-top: 4rem;
    background-color: white;
}

.panel {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
    width: calc(320px + 2rem);
    gap: 1rem;
    background-color: white;
}

.panel p {
    font-size: 16px;
    padding: 0 0.4rem;
}

.bannerImageContainer {
    position: relative;
    width: 600px;
    height: 450px;
    /* overflow: "hidden"; */
}

.bannerImage {
    /* width: 700px;
    height: 448px; */
    object-fit: contain;
    object-position: bottom;
    filter: drop-shadow(0px 16px 16px rgba(0, 0, 0, 0.20));
    border-radius: 16px;
}

@media (max-width: 750px) {
    .bannerImageContainer {
        width: calc(100% - 4rem);
        height: 60vw;
    }
}

@media (max-width: 350px) {
    .bannerImageContainer {
        display: none;
    }
}