.bannerProjectColor {
    background-color: #FFF8F9;
}

.bannerImageContainer {
    position: relative;
    width: 600px;
    height: 448px;
    /* overflow: hidden; */
}

.sketchDisplay {
    width: calc(840px);
    height: 500px;
    margin: 1rem 0 1rem 0;
    border: solid 1px #eaeaea;
    border-radius: 12px;
}

.sketchFrame {
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 2rem;
    background-color: #F4F4F4;
    border-radius: 12px;
}

.sketches {
    /* width: calc(1080px); */
    /* background-color: white; */
    filter: drop-shadow(0px 10px 32px rgba(0, 0, 0, 0.10));
    background-color: white;
    border-radius: 12px;
}

.splitCol {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.col {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 0.5rem);
    padding: 2rem;
    gap: 1rem;
    text-align: start;
    background-color: white;
    border-radius: 12px;
}

.ol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.olItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 300;
}

.olItem span {
    min-width: 2.5rem;
    font-weight: 600;
    color: #808080;
}


.olItem p {
    font-weight: 300;
}

.olLarge {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0 1rem 0;
}

@media (max-width: 750px) {
    .bannerImageContainer {
        width: calc(100% - 4rem);
        height: 60vw;
    }
}

@media (max-width: 350px) {
    .bannerImageContainer {
        display: none;
    }
}


