.bannerProjectColor {
    background-color: #FFF8F9;
}

.bannerImageContainer {
    position: relative;
    width: 600px;
    height: 448px;
    /* overflow: hidden; */
}

@media (max-width: 750px) {
    .bannerImageContainer {
        width: calc(100% - 4rem);
        height: 60vw;
    }
}

@media (max-width: 350px) {
    .bannerImageContainer {
        display: none;
    }
}


