.bannerProjectColor {
    background-color: #e8f3e3;
}

.projectColorText {
    color: #215560;
}

.styleGuideImage {
    width: 100%;
    margin: 1rem 0 1rem 0;
    border-radius: 16px;
}

.comparison {
    width: 1080px;
    margin-top: 4rem;
    /* background-color: white; */
    filter: drop-shadow(0px 10px 32px rgba(0, 0, 0, 0.10));

}

.problemSpreadPdf {
    width: 1196px;
    height: 1077px;
}

.lofis {
    width: 1082px;
    margin-top: 4rem;
}

.lofiFrame {
    width: 100%;
    height: calc(100vh - 160px);
    margin: 1rem 0 1rem 0;
    border: solid 1px #eaeaea;
}