

.section {
  width: 1080px;
  line-height: 1.5em;
}

.sectionTitle {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: start;
  margin: 0 0 1.5rem 0;
}

.headline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 160px;
}

.headline h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5em;
}

.headline h3 {
  font-size: 1em;
  font-weight: bold;
}
  
.headlineContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  /* width: 80%; */
}

.headlineGraphic {
  /* width: 50%; */
}

.subHeadline {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.roles {
  margin-top: 1.5rem;
  line-height: 2rem;
}
  
.gallery {
  display: flex;
  gap: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}



.project {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.10));

  background-color: #FFFFFF;
  width: calc(50% - 1rem);
  border-radius: 16px;
}

.project:hover {
  filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.18));
  transition: all 0.2s ease-in;
  /* transform: scale(1.01); */
  transform: translateY(-5px);
}

.project a:hover {
  text-decoration: none;
}

.projectImage {
  border-radius: 16px 16px 0px 0px;
  width: 100%;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
}

.projectInfoContent {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.projectInfoContent h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.projectInfoContent p {
  line-height: 1.5em;
}

.projectLabel {
  background-color: rgba(0, 184, 148, 0.05);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.5em 0.8em;
  font-weight: 400;
}

.projectPlaceholder {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: calc(50% - 1rem);
  height: 627px;
  border-radius: 16px;
}

.projectPlaceholderText {
  font-weight: 400;
  font-size: 1.5rem;
  color: #D0D0D0;
}

.badges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.badge {
  display: inline-block;
  font-size: 1rem;
  padding: 0.1em 0.3em;
  font-weight: 400;
  background-color: rgba(246, 211, 197, 0.15);
  color:#F0916C;
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
  border: solid 1px #F0916C;
}

.primary {
  color: #F0916C;
}

.primaryBold {
  color: #F0916C;
  font-weight: bold;
}

.portrait {
  width: 350px;
  margin-bottom: 1rem;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  padding-top: 80px;
  padding-bottom: 100px;
}

.titleEmoji {
  margin-left: 10px;
}

.rowGallery {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  border-radius: 16px;
  /* gap: 1rem; */
  /* filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.10)); */
}



.row:hover {
  background-color: #f4f5f7;
  transition: all 0.2s ease-in;

}

.rowReverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: stretch;
  border-radius: 12px;
  /* gap: 1rem; */
  /* filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.10)); */
}

.rowReverse:hover {
  background-color: #f4f5f7;
  transition: all 0.2s ease-in;

}

.rowImage img {
  width: 300px;
  border-radius: 16px;
}

.rowContent {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  /* background-color: #FFFFFF; */
  width: calc(100% - 300px);
  border-radius: 16px;
  gap: 0.5rem;
}

.rowContent h2 {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.rowContent p {
  line-height: 1.5em;
  text-decoration: none;
}



.finalSection {
  margin-bottom: 50px;
}

.primaryLink {
  font-weight: 400;
  color: #F0916C;
  position: relative;
}

.primaryLink::after {
  content: '';
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #F0916C;
  opacity: 0;
  transition: opacity 250ms, transform 250ms;
}

.primaryLink:hover::after,
.primaryLink:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.1em, 0);
}

.otherProjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.otherProject {
  display: flex;
  flex-direction: column;
  width: calc((100% - 2rem) / 3);
  border-radius: 16px;
  filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.10));
  background-color: #FFFFFF;

}

.otherProject:hover {
  filter: drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.18));
  transition: all 0.2s ease-in;
  /* transform: scale(1.01); */
  transform: translateY(-5px);
}

.otherProject a:hover {
  text-decoration: none;
}


.otherProjectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: start;
  background-color: white;
  border-radius: 0 0 16px 16px;
}

.otherProjectInfoContent {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.otherProjectInfoContent h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.otherProjectInfoContent p {
  line-height: 1.5em;
}

.otherProjectImage {
    border-radius: 16px 16px 0px 0px;
    width: 100%;

}


@media (max-width: 1264px) {
  .section {
    width: calc(100vw - 4rem);
  }

  /* .sectionNoBottomMargin {
    width: calc(100vw - 4rem);
  } */
}

@media (max-width: 750px) {
  .project {
    width: 100%;
  }

  .projectPlaceholder {
    display: none;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .rowReverse {
    flex-direction: column;
    align-items: center;
  }

  .rowContent {
    width: 100%;
  }

  .rowImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .rowImage img {
    width: calc(100% - 2rem);
  }

  .otherProjects {
    flex-direction: column;
    gap: 2rem;
  }

  .otherProject {
    width: 100%;
  }
}