.navbar {
    display: flex;
    flex-direction: row;
    height: 66px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s;
    z-index: 1;

    border: 1px solid var(--shade-4, #E4E5E5);
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(12px);

}

.centeredContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--content-width);
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 4vw;
    font-size: 1em;
    font-weight: 600;
}

.links {
    display: flex;
    flex-direction: row;
    margin-right: 4vw;
    gap: 1.5rem;
}

.pageButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

} 

.navItem {
    padding: 8px;
    font-weight: 500;
    font-size: 1em;
}

.navLink {
    /* color: #444444; */
    color: var(--shade-1);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navLink:hover {
    color: var(--shade-2);
    text-decoration: none;
}


@media (max-width: var(--content-width)) {
    .centeredContent {
        width: 100%;
    }
}
