.pageContent {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 80px;
    padding-bottom: 160px;
    /* gap: 4rem; */
}

.sidebar {
    position: fixed;
    width: 200px;
    height: calc(100% - 80px);
    margin-right: 4vw;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    right: 0;
    text-align: right;
}

.sidebar span {
    font-weight: 400;
    font-size: 1rem;
    color: #444444;
}

.sidebar span:hover {
    color: black;
    transition: all 0.2s ease-in-out;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* height: 680px; */
    width: 100%;
    text-align: center;
}

.bannerTitle {
    margin-top: 73px;
}

.bannerImageContainer {
    position: relative;
    width: 700px;
    height: 448px;
    overflow: "hidden";
}

.bannerImage {
    /* width: 700px;
    height: 448px; */
    position: absolute;
    object-fit: contain;
    object-position: bottom;
}

.headline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
    padding: 0 2rem 0 2rem;
    margin-bottom: 60px;
}

.headline h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5em;
}

.headline h3 {
    font-weight: 300;

    font-size: 1.2rem;
    line-height: 1.5em;
}

.sectionTitle {
    font-weight: 600;
    font-size: 1rem;
    color: #F0916C;
    padding-bottom: 1.5rem;
}

.sectionContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 4rem 0 4rem 0;
}

.sectionContainerGray {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem 0 4rem 0;
    background-color: #F7F7F7;
}

.sectionContainerDark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem 0 4rem 0;
    background-color: #1e1e1e;
    color: white;
}

.section {
    width: 980px;
    line-height: 1.5em;
}

.section h2 {
    font-size: 2rem;
    font-weight: 600;
}

.section h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: 1.5em;
}

.section h4 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.section b {
    font-size: 1rem;
    font-weight: 600;
}

.section p {
    font-size: 1rem;
    font-weight: 300;
}

.ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0 1rem 0;
}

.olItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 300;
}

.olItem span {
    min-width: 3.5rem;
    font-weight: 600;
    color: #808080;
}


.olItem p {
    font-weight: 300;
}

.projectInfo {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.projectInfo div {
    width: calc((100% - 6rem) / 4);
}

.dualImage {
    display: flex;
    flex-direction: row;
}

.imageHalf {
    width: 490px;
    height: 320px;
}

#subHeadline {
    line-height: 1.5em;
    margin-top: 2rem;
}

.contentSection {
}

.fullPdfFrame {
    width: 100%;
    height: 80vh;
    margin: 1rem 0 1rem 0;
}

.desktopFrame {
    width: 100%;
    height: 600px;
    margin: 1rem 0 1rem 0;
    border: solid 1px #eaeaea;
}

.centeredContent {
    margin: 2rem 12% 2rem 12%;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    padding: 2rem;
    gap: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1rem 0 1rem 0;
}



.cardTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardTitle h3 {
    margin-top: 0;
    font-weight: 700;
}

.cardContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.twoColContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.twoColContent img {
    width: 100%;
    border-radius: 16px;
}

.imageCol {
    /* width: 300px; */
}

.col {
    width: 50%;
}

@media (max-width: 750px) {
    .bannerImageContainer {
        width: calc(100% - 4rem);
        height: 60vw;
    }
}

@media (max-width: 350px) {
    .bannerImageContainer {
        display: none;
    }
}

@media (max-width: 1264px) {
    .section {
      width: calc(100vw - 4rem);
    }
    .sidebar {
        display: none;
    }
}